extends layouts/site_main_layout.pug
block content
    div.container.mt-3
        div.card-deck
            .card
                img(src="https://phialphatheta.org/wp-content/uploads/Nash-History-Journal.png" height="300px" width="100%")
                .card-body 
                    h3.card-title Our History
                    p.card-text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos similique corrupti earum doloribus, tenetur hic debitis praesentium quidem expedita magni provident, placeat beatae odit odio! Numquam, unde eos ullam minima itaque possimus obcaecati modi vero saepe voluptas neque explicabo distinctio dolorum veniam soluta iure totam sequi maiores quibusdam. Quaerat harum inventore voluptates possimus corrupti eius provident incidunt assumenda, consequuntur nulla reiciendis, officia minima dolorem impedit. Quam eum ut aspernatur fuga nihil ipsa quisquam optio nam qui esse sequi voluptas animi, officia natus nesciunt. Placeat voluptatem nemo aperiam magnam unde quibusdam? Harum iure, quas expedita iusto numquam itaque corporis quo vitae?
                    button.btn.btn-primary Read More
            .card
                img(src="/img/slider1.png" width="100%" height="300px")
                .card-body
                    h3.card-title Our Products
                    p.card-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum reiciendis optio architecto. Asperiores amet impedit ipsum vero sunt sed veritatis voluptas. Nobis nemo voluptatibus cum obcaecati aut similique sint unde dicta explicabo veritatis non, quae doloremque quam quis consequuntur distinctio atque sapiente repellendus deserunt quisquam accusantium sit officia inventore. Debitis perspiciatis fugiat molestias fugit explicabo esse omnis assumenda molestiae, ratione et cupiditate quod nemo, praesentium vero illo dolorum voluptates maiores architecto vel tempora reprehenderit amet ipsam tempore! Quam doloribus earum voluptatibus delectus? Veritatis neque dolore rerum modi atque odio dolorem adipisci, quod, assumenda veniam nisi autem perspiciatis eos fuga architecto?
                    button.btn.btn-primary Read More