extends layouts/site_main_layout.pug
block content
    div.container.mt-4
        h4.text-center.mb-4 Our Social Media Accounts
        div.card-deck.d-flex.flex-wrap.justify-content-around 
            .card.w-25.p-4.social-media
                img(src="/img/twitter.png" width="32px" height="32px" style="top:0%;position:relative;")
                .card-body
                    p.card-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel, quas.
               
            .card.w-25.p-4.social-media             
                img(src="/img/instagram.png" width="32px" height="32px" style="top:0%;position:relative;")
                .card-body
                    p.card-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel, quas.
            .card.w-25.p-4.social-media                   
                img(src="/img/mail.png" width="32px" height="32px" style="top:0%;position:relative;")
                .card-body
                    p.card-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel, quas.
    div.container.mt-4
        h4.text-center.mb-4 Our Adress
        p.text-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Error veritatis odit iure consequatur deserunt totam voluptate sit similique, mollitia exercitationem cum illum quis quibusdam odio adipisci id sunt voluptates quo repellat incidunt? Dolorem fugiat quisquam rerum sint ad commodi autem, asperiores sapiente, quos, nesciunt quidem repellendus nam voluptatem id explicabo?